name: test

on:
  pull_request:
    paths:
      - '**.go'
      - 'go.*'
      - .github/workflows/test.yml
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: set up
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - run: |
          make test
          cat cover.out >> coverage.txt

      - name: codecov
        uses: codecov/codecov-action@v5
